@using iDAS.DAL;
@model IEnumerable<iDAS.Models.ModelStudent>
@{
    int _resultCount = Model.Count();

}
<!-- end: Favicon -->
@System.Web.Optimization.Scripts.Render("~/js/DataTable")
<script type="text/javascript">
    $(document).ready(function () {
        $("#editStudentForm").submit();
        var handleDataTableButtons = function () {
            if ($("#datatable-responsive-transactionHistory").length) {
                $("#datatable-responsive-transactionHistory").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      //{
                      //    extend: "pdfHtml5",
                      //    className: "btn-sm"
                      //},
                      {
                          extend: "print",
                          className: "btn-sm"
                      },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();


        //$('#datatable-responsive-transactionHistory').DataTable();
        TableManageButtons.init();

        function confirmDiaglogBox(id) {
            AsyncConfirmYesNo(id);
        };

        function AsyncConfirmYesNo(controlId) {
            alert(controlId);
            var $confirm = $("#countryDelete");
            $confirm.modal('show');
            $("#btnConfirm").off('click').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Country")',
                    data: JSON.stringify({ id: controlId }),
                    success: function (result) {
                        // debugger;
                        window.location.reload();
                        //  window.location.href = result.Url;
                    },
                    dataType: "text",
                    contentType: "application/json; charset=utf-8",
                    processData: false
                });
                $confirm.modal("hide");
            });
        };
    });

    function OpenRecordBox() {
        var $confirm = $("#ShowEditStudentInfoModal");
        $confirm.modal("show");
    };

</script>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Student (@_resultCount)</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @if (Model.Count() > 0)
                {
                    @*<p class="text-muted font-13 m-b-30">
                            User transction history
                        </p>*@
                    <table id="datatable-responsive-transactionHistory" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Father Name</th>
                                <th>Class Name</th>
                                <th>Section Name</th>
                                <th>Computer Code</th>
                                <th>Reg No</th>
                                <th>Date Of Birth</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.StudentId</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.FatherName</td>
                                    <td>@item.StudentClass.ClassName</td>
                                    <td>@item.StudentSection.SectionName</td>
                                    <td>@item.ComputerCode</td>
                                    <td>@item.RegNo</td>
                                    <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                    @if (item.Status == 1)
                                    {
                                        <td class="btn btn-success">@item.StatusText</td>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <td class="btn btn-warning"><i class="ok-sign">@item.StatusText</i></td>
                                    }
                                    else
                                    {
                                        <td class="btn btn-default">
                                            <i class="remove-sign">@item.StatusText</i>
                                        </td>
                                    }
                                    <td>
                                        @*<a class="btn btn-success" onclick='confirmDiaglogBox'>
                                                <i class=" glyphicon glyphicon-zoom-in white"></i>
                                            </a>*@

@*                                        <a class="btn btn-success" href="#">
                                            <i class=" glyphicon glyphicon-zoom-in white"></i>
                                        </a>*@
                                        @Ajax.ActionLink("Edit", "EditStudent", "Student", new { studentID = item.StudentId }, new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",
                                                UpdateTargetId = "editStudentForm",
                                                OnSuccess = "OpenRecordBox();"
                                            }, new { @class = "btn btn-success glyphicon glyphicon-edit white" })
                                        @*<a href="@Url.Action("EditStudent", "Student", new { id = EncryptDecrypt.Encrypt(item.StudentId.ToString()) })" class="btn btn-info"><i class="glyphicon glyphicon-edit white"></i></a>*@

                                        @*@Html.Bootstrap().Button().Class("btn btn-danger").Id("confirmDelete").LoadingText("deleting").PrependIcon(Icons.trash, true)*@
                                        <a class="btn btn-danger" id="btnDelete" onclick="OpenRecordBox()">
                                            <i class="glyphicon glyphicon-trash white"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Attention!</h4>
                        <p>No Record Found.</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- PopUp Success -->
    <!-- Button trigger modal -->
    <button id="btnShowSuccess" type="button" class="btn" data-toggle="modal" style="visibility: hidden;"
            data-target="#ShowEditStudentInfoModal"></button>
    <!-- Modal -->
    <div class="modal fade" id="ShowEditStudentInfoModal" tabindex="-1" role="dialog" aria-labelledby="ShowEditStudentInfoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-success" id="ShowEditStudentInfoModalLabel">
                        Edit Student Information
                    </h4>
                </div>
                <div id="editStudentForm" class="modal-body">


                </div>
                <div class="modal-footer">
                    <button id="btnModelOK" type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#frmEditStudentInfo').submit();">
                        Submit
                    </button>
                    <button id="btnModelCancel" type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- PopUp Success -->

</div>

