@using System.Web.Optimization
@*@using NavigationRoutes*@


@model iDAS.Models.ViewModelStudent
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_MerchantLayout.cshtml";
}

<style type="text/css">
    #blah {
         height: 145px;
    width: 192px;
    border: 2px solid grey;
    margin: 0 0 0 379px;
    padding: 2px 4px 5px 3px;
    border-radius: 3px;
    }
    .error {
        color:red !important;
    }

</style>
<script type="text/javascript">


    $(document).ready(function () {
        debugger;
        $('#preview').hide();
  $("#studentImage").change(function () {
        debugger;
      
        readURL(this);
    });
        $("#fmGetproductGroupItem").submit();

        $('[id*=dateoF]').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_2"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
        $('#LeaveDate').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_2"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });

    function OngetproductGroupItem(response) {
        if (response > 0) {

        }
    }

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $('#preview').show();
        }
    }

  

</script>


<div class="x_panel">

    <div class="x_content">  
        @Html.Partial("_alerts")
      
        <br />
        @using (Html.BeginForm("CreateStudentInfo", "StudentData", FormMethod.Post, new { @class = "form-horizontal", id = "frmsubmit", enctype = "multipart/form-data" }))
        {
               @Html.AntiForgeryToken()       
              @Html.ValidationSummary(true)
            
                          <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Campus</label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.DropDownList("CampusId", new List<SelectListItem>
                        {
                          new SelectListItem{ Text = "Boys", Value = "0" },
                          new SelectListItem{ Text = "Girls", Value = "1" } 
                        }, new { @class = "form-control valid" })
                </div>

            </div>  
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Student Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control col-md-7 col-xs-12" })
                        @Html.ValidationMessageFor(m => m.StudentName, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                    Father Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.FatherName, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                    Father CNIC<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.FatherCNIC, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.FatherCNIC, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                    Email Address<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Home Phone <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.HomeNumber, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.HomeNumber, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Profession</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Profession, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.Profession, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
             <div class="form-group">
                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Monthly Fee</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.MonthlyFee, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.MonthlyFee, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                
                    @Html.DropDownList("Sex", new List<SelectListItem>
{
  new SelectListItem{ Text = "Male", Value = "0" },
  new SelectListItem{ Text = "female", Value = "1" } 
}, new { @class = "form-control valid" })
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Religon</label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.DropDownList("Religon", new List<SelectListItem>
                        {
                          new SelectListItem{ Text = "Muslim", Value = "0" },
                          new SelectListItem{ Text = "NonMuslim", Value = "1" } 
                        }, new { @class = "form-control valid" })
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Class <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(x => x.ClassId, new SelectList(ViewBag.dpClass, "Value", "Text", "Selected"), new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.ClassId, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Section <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(x => x.SectionId, new SelectList(ViewBag.dpSection, "Value", "Text", "Selected"), new { @class = "form-control" })
                      @Html.ValidationMessageFor(m => m.SectionId, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
        
           
       <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth</label>
                <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="dateoFBirth" name="DateOfBirth" placeholder="Date of Birth" aria-describedby="inputSuccess2Status2">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                     @Html.ValidationMessageFor(m => m.DateOfBirth, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Address: <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Home Phone <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.HomeNumber, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.HomeNumber, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Mobile #1 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.MoblieNumber, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.MoblieNumber, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
               <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Mobile #2 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.OtherMobNo, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.OtherMobNo, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                  Office Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.OfficeNumber, new { @class = "form-control col-md-7 col-xs-12" })
                      @Html.ValidationMessageFor(m => m.OfficeNumber, string.Empty, new { @class = "help-block error" })
                </div>
            </div>@*
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Admission Date <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          @Html.TextBoxFor(m => m.DateOfAdmission, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>*@

            
            
             <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth</label>
                <div class="col-md-6 col-sm-6 col-xs-12 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="dateoFAddmission" name="DateOfAdmission" placeholder="Date of Birth" aria-describedby="inputSuccess2Status2">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                     @Html.ValidationMessageFor(m => m.DateOfAdmission, string.Empty, new { @class = "help-block error" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Reference<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(m => m.Reference, new { @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>

             <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Student Pic<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                 <input type="file" name="Simage" id="studentImage"/>
                </div>
                 
            </div>
            <div>
                <img id="preview" src="#" alt="your image" />
            </div>
           
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                    <input type="submit" class="btn btn-success" value="Submit">
                </div>
                
            </div>
        }
    </div>
</div>
<div id="divCategoriesList">
</div>
@using (Ajax.BeginForm("GetAllStudentData", "Student", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divCategoriesList",
    OnSuccess = "OngetproductGroupItem"

}, new { id = "fmGetproductGroupItem" }))
{

}