@model IEnumerable<iPaymentService.Models.ModelPaymentService>
<!-- Dialog show event handler -->
@{
    var tempItem = Model.FirstOrDefault();

}
<script type="text/javascript">

    function confirmDiaglogBox(id) {
        AsyncConfirmYesNo(id);
    };

    function AsyncConfirmYesNo(controlId) {
        var $confirm = $("#confirmSubscribe");
        $confirm.modal('show');
        $("#btnConfirm").off('click').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Country")',
                data: JSON.stringify({ id: controlId }),
                success: function (result) {
                    // debugger;
                    window.location.reload();
                    //  window.location.href = result.Url;
                },
                dataType: "text",
                contentType: "application/json; charset=utf-8",
                processData: false
            });
            $confirm.modal("hide");
        });
    };
</script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Payment Service</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            @if (Model.Count() > 0)
            {
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">

                            @if (tempItem.IsMerchantCallBackURLNotNull)
                            {
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <h4 class="alert-heading">Attention!</h4>
                                    <p>Before activate any service. Please enter your Response call back URLs.</p>
                                </div>
                            }
                            @foreach (var item in Model)
                            {

                                 <!-- price element -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="pricing">
                                        <div class="title">
                                            @*<h2>@item.PaymentServiceTypeName</h2>*@
                                            <h1>@item.PaymentServiceTypeName</h1>
                                        </div>
                                        <div class="x_content">
                                            <div class="">
                                                <img class="image img-responsive center-block" src='@Url.Content("~/Content/PaymentServiceLogo/" + @item.ServiceLogo)' alt='@item.ServiceLogo' />
                                                @*<div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li><i class="fa fa-times text-danger"></i> 2 years access <strong> to all storage locations</strong></li>
                                                            <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> storage</li>
                                                            <li><i class="fa fa-check text-success"></i> Limited <strong> download quota</strong></li>
                                                            <li><i class="fa fa-check text-success"></i> <strong>Cash on Delivery</strong></li>
                                                            <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                                            <li><i class="fa fa-times text-danger"></i> <strong>Unlimited</strong> access to all files</li>
                                                            <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                                                        </ul>
                                                    </div>*@
                                            </div>
                                            <div class="pricing_footer">
                                                @if (!item.IsMerchantCallBackURLNotNull)
                                                {
                                                    if (item.IsMerchantSubscribe && item.intMerchantStatus == 1)
                                                    {
                                                        <a href="@Url.Action("SubscribeService", "Merchant", new { ServiceNo = @item.srtPaymentServiceTypeID })" class="btn btn-warning btn-block" role="button"><i class="halflings-icon white stop">De-Activate</i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("SubscribeService", "Merchant", new { ServiceNo = @item.srtPaymentServiceTypeID })" class="btn btn-success btn-block" role="button"><i class="halflings-icon white active">Activate</i></a>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
            <!-- price element -->
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Attention!</h4>
                    <p>No Record Found.</p>
                </div>
            }
        </div>

        <div class="modal hide fade" id="confirmSubscribe">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-header">Activate New Payment Service</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to activate new Payment Service ?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal"><i class="halflings-icon white close"></i>Close</a>
                @*@Html.Bootstrap().Button().Class("btn btn-danger").Id("btnConfirm").Text("Delete").LoadingText("deleting").PrependIcon(Icons.trash, true)*@
                <button type="button" class="btn btn-primary" id="btnConfirm"><i class="halflings-icon white ok">Activate</i></button>

            </div>
        </div>

    </div>
</div>