@using System.Web.Optimization
@using iDAS.DAL
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>


    <link href="@Styles.Url("~/contents/css")" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@

    <!-- start: Favicon -->
    <link rel="shortcut icon" href=@Url.Content("~/Content/images/favicon.ico")>
    <!-- end: Favicon -->
    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)

    @*<script src="../Scripts/DynamicMerchantLeftMenu.js"></script>*@

    
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Home","User")" class="site_title"><i class="fa fa-paw"></i> <span>User Panel!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                                <img class="img-circle profile_img" src='@Url.Content("~/Content/UserLogo/" + @Session[DALVariables.ProfileImage].ToString())' alt='@Session[DALVariables.UserName].ToString()' />
                            @*<img src='@Url.Content("~/Content/MerchantLogo/" + @Session[DALVariables.ProfileImage].ToString())' alt="..." class="img-circle profile_img">*@
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session[DALVariables.UserName].ToString()</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    @*-------------------------------------------*@
                   
                    @*--------------------------------------------*@
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu" id="side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="../../User/Home">Dashboard</a></li>

                                         <li>@Html.ActionLink("Add Student","Index","Student")</li>
                                         <li>@Html.ActionLink("Search Student","Search","Student")</li>



                                        <li><a href="@Url.Action("Search","Student")">Search Student</a></li>
                                        <li><a href="@Url.Action("SearchStudentFee", "StudentFee")">Search Student Fee</a></li>
                                        <li><a href="@Url.Action("SaveBulkFeeInsertion", "StudentFee")">Add Bulk Fees</a></li>
                                        <li><a href="../../User/TransactionHistory">Transaction History</a></li>

                                    </ul>
                                </li>
                                <!-- sidebar menu reder from JS Dynamically -->
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout", "User")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                   
                                        <img src='@Url.Content("~/Content/MerchantLogo/" + @Session[DALVariables.ProfileImage].ToString())' alt='@Session[DALVariables.UserName].ToString()' /> @Session[DALVariables.UserName].ToString()

                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href='@Url.Action("Profile","User")'> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Service Setting</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href='@Url.Action("Logout", "User")'><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="https://codemader.com">CM Technologies </a> CM Technologies (Payment Service) &copy; Company @System.DateTime.Now.ToString("yyyy")
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


</body>
</html>