@using System.Web.Optimization
@using iDAS.DAL;
@model iDAS.Models.ModelStudent
@{
    int _resultCount = Model.StudentMonthlyFeeList.Count();

}
<!-- end: Favicon -->
@System.Web.Optimization.Scripts.Render("~/js/DataTable")
<script type="text/javascript">
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-responsive-FeeHistoryRecord").length) {
                $("#datatable-responsive-FeeHistoryRecord").DataTable({
                    dom: "Bfrtip",
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      //{
                      //    extend: "pdfHtml5",
                      //    className: "btn-sm"
                      //},
                      {
                          extend: "print",
                          className: "btn-sm"
                      },
                    ],
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        //$('#datatable-responsive-transactionHistory').DataTable();
        TableManageButtons.init();

    });

</script>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Student (@_resultCount)</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (Model != null)
                {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="StudentName">
                            Student Name :
                        </label>
                        <div class="col-md-3 col-sm-3 col-md-3">
                            @Html.LabelFor(m => m.StudentName, new { @class = "form-control col-md-3 col-md-3" })
                        </div>

                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                            Father Name :
                        </label>
                        <div class="col-md-3 col-sm-3 col-md-3">
                            @Html.LabelFor(m => m.FatherName, new { @class = "form-control col-md-3 col-md-3" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="StudentName">
                            Class Name :
                        </label>
                        <div class="col-md-3 col-sm-3 col-md-3">
                            @Html.LabelFor(m => m.StudentClass.ClassName, new { @class = "form-control col-md-3 col-md-3" })
                        </div>

                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                            Section :
                        </label>
                        <div class="col-md-3 col-sm-3 col-md-3">
                            @Html.LabelFor(m => m.StudentSection.SectionName, new { @class = "form-control col-md-3 col-md-3" })
                        </div>
                    </div>
                }
                @if (Model.StudentMonthlyFeeList.Count() > 0)
                {
                    @*<p class="text-muted font-13 m-b-30">
                            User transction history
                        </p>*@
                    <table id="datatable-responsive-FeeHistoryRecord" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Fee Date</th>
                                <th>Fee Month</th>
                                <th>AdmissionFee</th>
                                <th>Re Admission Fee</th>
                                <th>Registration Fee</th>
                                <th>Monthly Fee</th>
                                <th>Computer Fee</th>
                                <th>Fine</th>
                                <th>Exam Fee</th>
                                <th>Generator Fee</th>
                                <th>Total</th>
                                <th>Paid Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.StudentMonthlyFeeList)
                            {
                                <tr>
                                    <td>@item.SerialNo</td>
                                    <td>@item.FeeDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.FeeMonth</td>
                                    <td>@item.AdmissionFee</td>
                                    <td>@item.ReAdmissionFee</td>
                                    <td>@item.RegistrationFee</td>
                                    <td>@item.MonthlyFee</td>
                                    <td>@item.ComputerFee</td>
                                    <td>@item.Fine</td>
                                    <td>@item.ExamFee</td>
                                    <td>@item.GeneratorFee</td>
                                    <td>@item.Total</td>
                                    @if (item.Status == 1)
                                    {
                                        <td class="label label-success"><i class="ok-sign">Paid</i></td>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <td class="label label-warning"><i class="warning-sign">Not Paid</i></td>
                                    }
                                    else
                                    {
                                        <td class="btn btn-default">
                                            <i class="remove-sign">Unknown</i>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Attention!</h4>
                        <p>No Record Found.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>