@using System.Web.Optimization
@model iDAS.Models.ModelStudent
@{
    int _resultCount = Model.ModelStudentFee.Count();

}
<!-- end: Favicon -->
@System.Web.Optimization.Scripts.Render("~/js/DataTable")
<script type="text/javascript">
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-responsive-FeeHistoryRecord").length) {
                $("#datatable-responsive-FeeHistoryRecord").DataTable({
                    dom: "Bfrtip",
                    "order": [],
                    buttons: [
                      {
                          extend: "copy",
                          className: "btn-sm"
                      },
                      {
                          extend: "csv",
                          className: "btn-sm"
                      },
                      {
                          extend: "excel",
                          className: "btn-sm"
                      },
                      //{
                      //    extend: "pdfHtml5",
                      //    className: "btn-sm"
                      //},
                      {
                          extend: "print",
                          className: "btn-sm"
                      },
                    ],

                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        //$('#datatable-responsive-transactionHistory').DataTable();
        TableManageButtons.init();


    });

</script>
<!-- bootstrap-daterangepicker -->
<script type="text/javascript">

    $(document).ready(function () {

        $('.txtBoxPOPCalendarFee').each(function () {
            $(this).daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });

        //$('#popFeeDatePicker').daterangepicker({
        //    singleDatePicker: true,
        //    calender_style: "picker_2"
        //}, function (start, end, label) {
        //    console.log(start.toISOString(), end.toISOString(), label);
        //});
        
    });
    function ShowVoucherModel(FeeIdValue) {
        alert(FeeIdValue);
        //$('#voucherFeeId').val(FeeIdValue);
        var $confirm = $("#showmanualvouchermodal");
        alert($confirm);
        $confirm.modal("show");
    }
    function showFeeManualVoucherModal(strFeeId)
    {
        $("#voucherFeeId").val(strFeeId);
        var $testModelObj = $("#ShowManualVoucherModal");
        $testModelObj.modal("show");
    }

    function closeFeeManualVoucherModal() {
        $("#voucherFeeId").val('0');
        var $modelIdObj = $("#ShowManualVoucherModal");
        $modelIdObj.modal("hide");
    }

    function showManualFeeVoucherEntryModal() {
        var $testModelObj = $("#ShowManualFeeVoucherEntryModal");
        $testModelObj.modal("show");
    }

    function closeManualFeeVoucherEntryModal() {
        $("#voucherFeeId").val('0');
        var $modelIdObj = $("#ShowManualFeeVoucherEntryModal");
        $modelIdObj.modal("hide");
    }

</script>

<script type="text/javascript">

    function ShowSuccess(data) {
        //alert(data.code + " " + data.message);
        if (data.code == 1) {
            $("#dvMessaheAlert").html("<div class='alert alert-" + data.css + " alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>" + data.message + "</div>");
        }
        if (data.code == 3) {
            window.open(data.linkUrl)
        }
    }
    function ShowFailure(data) {
        $("#dvMessaheAlert").html("<div class='alert alert-" + data.css + " alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>" + data.message + "</div>");
    }
    function ShowComplete() {
        var $confirm = $("#ShowProcessingModel");
        $confirm.modal('hide');
    }
    function ShowProcessing() {
        var $confirm = $("#ShowProcessingModel");
        $confirm.modal('show');
    }
</script>
<!-- /bootstrap-daterangepicker -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="StudentName">
                    Student Name :
                </label>
                <div class="col-md-3 col-sm-3 col-md-3">
                    @Html.DisplayTextFor(m => m.StudentName)
                </div>

                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                    Father Name :
                </label>
                <div class="col-md-3 col-sm-3 col-md-3">
                    @Html.DisplayTextFor(m => m.FatherName)
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="StudentName">
                    Class Name :
                </label>
                <div class="col-md-3 col-sm-3 col-md-3">
                    @Html.DisplayTextFor(m => m.StudentClass.ClassName)
                </div>

                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="first-name">
                    Section :
                </label>
                <div class="col-md-3 col-sm-3 col-md-3">
                    @Html.DisplayTextFor(m => m.StudentSection.SectionName)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Records (@_resultCount)</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (Model.ModelStudentFee.Count() > 0)
                {
                    @*<p class="text-muted font-13 m-b-30">
                            User transction history
                        </p>*@
                    <table id="datatable-responsive-FeeHistoryRecord" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Fee Date</th>
                                <th>Fee Month</th>
                                <th>Admin. Fee</th>
                                <th>Admin.</th>
                                <th>Re-Admin Fee</th>
                                <th>Reg. Fee</th>
                                <th>Mon. Fee</th>
                                <th>Comp. Fee</th>
                                <th>Fine</th>
                                <th>Exam Fee</th>
                                <th>Gen. Fee</th>
                                <th>Total</th>
                                <th>Paid Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.ModelStudentFee.OrderByDescending(m => m.SerialNo))
                            {
                                <tr>
                                    
                                    @if (item.FeePaidStatus == 1)
                                    {
                                        <td>@item.SerialNo</td>
                                        <td>
                                            @item.FeeDate.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>@item.FeeMonth</td>
                                        <td>@item.AdmissionFee</td>
                                        <td>@item.Admission</td>
                                        <td>@item.ReAdmissionFee</td>
                                        <td>@item.RegistrationFee</td>
                                        <td>@item.MonthlyFee</td>
                                        <td>@item.ComputerFee</td>
                                        <td>@item.Fine</td>
                                        <td>@item.ExamFee</td>
                                        <td>@item.GeneratorFee</td>
                                        <td>@item.Total</td>
                                        <td class="btn-success"><i class="ok-sign">Paid</i></td>
                                    }
                                    else if (item.FeePaidStatus == 0)
                                    {
                                        <td>@item.SerialNo</td>
                                    <td>
                                        <div>
                                            <input type="text" value='@item.FeeDate.ToString("dd/MM/yyyy")' class="form-control has-feedback-left txtBoxPOPCalendarFee" id="popFeeDatePicker" placeholder="Date of Fee Received" aria-describedby="inputSuccess2Status2">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                        </div>
                                    </td>
                                    <td>@item.FeeMonth</td>
                                    <td>@item.AdmissionFee</td>
                                    <td>@item.Admission</td>
                                    <td>@item.ReAdmissionFee</td>
                                    <td>@item.RegistrationFee</td>
                                    <td>@item.MonthlyFee</td>
                                    <td>@item.ComputerFee</td>
                                    <td>@item.Fine</td>
                                    <td>@item.ExamFee</td>
                                    <td>@item.GeneratorFee</td>
                                    <td>@item.Total</td>
                                        
                                        <td class="btn-warning"><i class="warning-sign">Not Paid</i></td>
                                    }
                                    else
                                    {
                                        <td class="btn btn-default">
                                            <i class="remove-sign">Unknown</i>
                                        </td>
                                    }
                                    @if (item.FeePaidStatus == 1)
                                    {
                                        <td></td>
                                    }
                                    else if (item.FeePaidStatus == 0)
                                    {
                                        <td>
                                            @*@Ajax.ActionLink("Print", "GetStudentSingleFeeRecord", "StudentFee", new { feeID = item.FeeId, studentId = item.StudentId }, new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",
                                                UpdateTargetId = "dvUpdateStudentMonthlyFeeForm",
                                                OnSuccess = "ShowUpdateStudentFeeModel();"
                                            }, new { @class = "btn btn-success glyphicon glyphicon-print white" })*@
                                            @Ajax.ActionLink("Edit", "GetStudentSingleFeeRecord", "StudentFee", new { feeID = item.FeeId }, new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",
                                                UpdateTargetId = "dvUpdateStudentMonthlyFeeForm",
                                                OnSuccess = "ShowUpdateStudentFeeModel();"
                                            }, new { @class = "btn btn-info glyphicon glyphicon glyphicon-pencil white" })
                                            <a class="btn btn-success" onclick="showFeeManualVoucherModal(@item.FeeId);">
                                                <i class=" glyphicon glyphicon-open white"></i>Get Voucher
                                            </a>

                                            @*<a class="btn btn-success" href="#">
                                                <i class=" glyphicon glyphicon-print white"></i>&nbsp;Print
                                            </a>*@
                                            <a class="btn btn-primary" onclick="showManualFeeVoucherEntryModal();">
                                                <i class=" glyphicon glyphicon-ok white"></i>&nbsp; Paid
                                            </a>
                                            
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="btn btn-default">
                                            <i class="remove-sign">Unknown</i>
                                        </td>
                                    }


                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">Attention!</h4>
                        <p>No Record Found.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function ShowUpdateStudentFeeModel() {
        var $confirm = $("#ShowUpdateStudentMonthlyFeeModal");
        $confirm.modal("show");
    };
    function HideUpdateStudentFeeModel() {
        var $confirm = $("#ShowUpdateStudentMonthlyFeeModal");
        $confirm.modal("hide");
    };

    $(document).ready(function () {
       
        $('.updateStudentFeeModelHide').click(function () {
            $('#ShowUpdateStudentMonthlyFeeModal').modal('hide');
        });
    });

</script>
<!-- PopUp Success -->
<!-- Button trigger modal -->
<button id="btnShowSuccessUpdateStudentFee" type="button" class="btn" data-toggle="modal" style="visibility: hidden;"
        data-target="#ShowUpdateStudentMonthlyFeeModal"></button>
<!-- Modal -->
<div class="modal fade" id="ShowUpdateStudentMonthlyFeeModal" tabindex="-1" role="dialog" aria-labelledby="ShowUpdateStudentMonthlyFeeLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close updateStudentFeeModelHide" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-success" id="ShowUpdateStudentMonthlyFeeLabel">
                    Update Student Fee
                </h4>
            </div>
            <div id="dvUpdateStudentMonthlyFeeForm" class="modal-body">


            </div>
            <div class="modal-footer">
                <button id="btnModelUpdateStudentOK" type="button" class="btn btn-primary" onclick="$('#frmEditStudentMonthlyFee').submit();">
                    Update
                </button>
                <button id="btnModelUpdateStudentCancel" type="button" class="btn btn-default updateStudentFeeModelHide">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- PopUp Success -->

<!-- Button trigger modal -->
<button id="btnManualVoucherFee" type="button" class="btn" data-toggle="modal" style="visibility: hidden;"
        data-target="#ShowManualVoucherModal"></button>
<!-- Modal -->
<div class="modal fade" id="ShowManualVoucherModal" tabindex="-1" role="dialog" aria-labelledby="ShowManualVoucherLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" onclick="closeFeeManualVoucherModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-success" id="ShowManualVoucherLabel">
                    Generate Fee Voucher
                </h4>
            </div>
            <div class="modal-body">
                <div id="dvMessaheAlert"></div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("GetBankChallanVoucher", "StudentReport", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "search-results",
                                    Confirm = "Are you sure to want generate this voucher ?",
                                    OnBegin = "ShowProcessing",
                                    OnSuccess = "ShowSuccess",
                                    OnFailure = "ShowFailure",
                                    OnComplete = "ShowComplete"

                                }, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="voucherFeeId" name="voucherFeeId" value="0" />
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left txtBoxPOPCalendarFee" id="txtVourcherDueDate" name="txtVourcherDueDate" placeholder="Voucher Due Date" aria-describedby="inputSuccess2Status2">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-record white"></i> Get Fee Vouchers</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnTestCancel" type="button" class="btn btn-default" onclick="closeFeeManualVoucherModal();">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- PopUp Success -->

<!-- Button trigger modal -->
<button id="btnManualFeeVoucherEntry" type="button" class="btn" data-toggle="modal" style="visibility: hidden;"
        data-target="#ShowManualFeeVoucherEntryModal"></button>
<!-- Modal -->
<div class="modal fade" id="ShowManualFeeVoucherEntryModal" tabindex="-1" role="dialog" aria-labelledby="ShowManualFeeVoucherEntryLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" onclick="closeManualFeeVoucherEntryModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-success" id="ShowManualFeeVoucherEntryLabel">
                    Enter Fee Voucher Information
                </h4>
            </div>
            <div class="modal-body">
                <div id="dvMessaheAlert"></div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("FeeVoucherPaidMark", "StudentFee", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "search-results",
                                    Confirm = "Are you sure to want fee paid mark ?",
                                    OnBegin = "ShowProcessing",
                                    OnSuccess = "ShowSuccess",
                                    OnFailure = "ShowFailure",
                                    OnComplete = "ShowComplete"

                                }, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="voucherFeeId" name="voucherFeeId" value="0" />
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Voucher Paid Date : </label>
                            <input type="text" class="form-control has-feedback-left txtBoxPOPCalendarFee" id="txtVourcherPaidDate" name="txtVourcherPaidDate" placeholder="Voucher Paid Date" aria-describedby="inputSuccess2Status2">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Voucher ID : </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" value="" id="strVoucherID" name="strVoucherID" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-record white"></i> Submit</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnTestCancel" type="button" class="btn btn-default" onclick="closeManualFeeVoucherEntryModal();">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- PopUp Success -->
